body
{
    background-image: url(2.png);
}
.container
{
  text-align: left 80px;
}
.items
{
         
        
    
    width: 80%;
    background-color: silver;
    border-left: solid 6px black;
    padding: 25px;
    margin: 60px auto;
    position:relative;
    left:-69;
            
        
}
.author
{   
    image-rendering: url(1.jpg);
    width: 90%;
    background-color: snow;
    height: 25%;
    
    border-left: solid 6px black;
    padding: 25px;
    margin: 60px auto;
    position:relative;
    left:9
    

    
}


.profile-img
 {
    width: 85px;
    height: 85px;
    
    object-fit: flex;
    border-radius: 5px;
    margin-right: 15px;
    position: relative;
    bottom:-20;
 }
 
.footer
{
    width: 90%;
    background-color: yellow;
    height: 20px;
    
    padding: 25px;
    margin: 60px auto;
    position:relative;
    left: -30px;
    bottom:0px;
}